body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 10px;

    overflow-x: hidden;
}

p {
    max-width: 1000px;
    background-color: #00000050;
}

h1, h2, h3 {
    font-style: italic;
}

a {
    font-style: italic;
    text-decoration: none;
    color: #E95379;
}

a:hover, a:active {
    text-shadow: #232530 5px 5px;
    transition: 100ms;
}

.categoryButtonGrid {
    display: grid; 
    grid-template-columns: repeat(5, 150px);
    justify-items: start;
    align-items: center;
}

.categoryButton {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #1A1C23;
    box-shadow: #232530 5px 5px;
    padding: 0;
}

.categoryButton h2 {
    position: absolute;
    top: -24;
}

#canvas {
    width: 100%;
    height: 100%;
}

.canvaswrapper {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    border: solid 3px white;
    background-color: #00000080;
}

.docs-nav-sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #16161C;
    overflow-x: hidden;
    padding: 10px;
}

.docpage {
    margin-left: 180px;
}

@media only screen and (max-width: 474px) {
    .docs-nav-sidebar {
        display: none;
    }

    .docpage {
        margin-left: 0;
    }
}

.codeblock {
    padding: 10px;
    background-color: #1A1C23;
    color: #FDF0ED;
    border-radius: 6px;
    border: solid 1px #2E303E;
    overflow-x: auto;
    word-wrap:normal;
}

.exampleButtonGrid {
    display: grid; 
    grid-template-columns: repeat(5, 100px);
    justify-items: start;
    align-items: center;
}

.exampleButton {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
    background-color: #1A1C23;
    box-shadow: #232530 5px 5px;
    padding: 0;
    word-wrap: break-word;
}

.exampleButton h2 {
    position: absolute;
    top: -24;
    width: 75px;
}

.bgimage {
    position: absolute;
    z-index: -5;
    scale: 200%;
    right: -50px;
    top: 50px;
}

@media only screen and (max-width: 1200px) {
    .bgimage {
        right: -200px;
        scale: 150%;
        top: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .bgimage {
        right: -270px;
        scale: 100%;
        top: -75px;
    }
}
